
@{
    ViewBag.Title = "page2";
}

<h2>Welcome to your Bus Booking Portal</h2>
<table>
    <tr><td>&nbsp;</td></tr>
    <tr><th>Here you can do following operation</th></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Search buses according to your preference and timing</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Cancel your Booked tickets</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Update your profile information</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Check your Booking history</td></tr>
    
</table>
