
@{
    ViewBag.Title = "page1";
}

<h2>WELCOME ADMIN!</h2>
<table style="font:agencyfb">
    <tr><td>&nbsp;</td></tr>
    <tr><th>Here you can do following operation</th></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Add bus information</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Add Route information</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Add Schedule information</td></tr>

</table>

